.footer {
  display: flex;
  justify-content: space-between;

  &__pagination {
    .ant-pagination-item {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      @extend .font-sm;
      color: $grey-500;
    }

    .ant-pagination-item-active {
      background-color: $sky-100;
      border: none;
      border-radius: $border-radius;
      color: $sky-600;
      @extend .font-base;
    }

    .ant-select-selector {
      height: 40px !important;
      padding: 0.625rem 1rem !important;
      align-items: center;
      @extend .font-sm;
      color: $grey-500;
    }

    .ant-pagination-prev,
    .ant-pagination-next {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}
