.message {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 0.625rem;
  }

  &__text {
    @extend .font-xs;
    color: $black;
  }

  &__email {
    @extend .font-xs;
    color: $orange-600;
  }
}
